.grid {
    display: grid;
    gap: 9.5rem 
}

.grid-three-cols{
    grid-template-columns: repeat(3,1fr);
}

/* now i add container to the app.jsx and apply css on it  */

.container{
    max-width: 142rem;
    margin: 0 auto;
    padding: 9.6rem 2.4rem;
}